################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HelloWorld/HelloWorld/obj
/HelloWorld/.vs/HelloWorld/v15
